# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Prisma généré (mais on garde types.ts et README.md)
generated/prisma/*
!generated/prisma/types.ts
!generated/README.md
